.page-main
	font-family 'PTSans'
	font-size 20px
	line-height 35px
	color #272f31
	&__overlay
		position fixed
		z-index 5
		top 0
		left 0
		visibility hidden
		width 100%
		height 100%
		transition .3s ease-in
		&_active
			visibility visible
			background-color rgba(0, 0, 0, .2)
	&__header-wrap
		background-image url('/assets/images/header-bg.jpg')
		background-size cover
	&__form-wrap
		background-color $blue
	&__footer-wrap
		background-color #272f31
