.marked-list
	margin-top 59px
	&__title
		padding-bottom 32px
		font-family 'Oswald'
		font-size 30px
		font-weight 500
	&__list
		margin-left 18px
		list-style-position outside
		list-style-image url('/assets/images/list-mark.png')
	&__item
		margin-bottom 10px
		padding-left 25px