mixin marked-list()
	+b.marked-list&attributes(attributes)
		+e('p').title Маркированный список
			+e('ul').list
				+e('li').item Отсутствие интереса и контроля дает исполнителям возможность для&nbsp;манипуляции&nbsp;показателями
				+e('li').item Концентрация на второстепенных показателях. Когда на каком-то бизнес-тренинге говорят, что эффективность работы подрядчика надо оценивать по CTR