.form
	padding-top 55px
	padding-bottom 68px
	&__wrap
		display flex
		justify-content space-between
		align-items flex-end
	&__text
		width 499px
	&__title
		margin-bottom 32px
		font-family 'Oswald'
		font-size 55px
		font-weight 500
		line-height 60px
		color #ffffff
	&__instructions
		font-family 'Oswald'
		font-size 24px
		font-weight 400
		line-height 35px
		letter-spacing -.1px
		color #ffffff
	&__fields
		margin-bottom 2px
		display flex
		width 625px
		flex-wrap wrap
	&__inputs
		margin-bottom 40px
		display flex
		width 100%
		justify-content space-between
	&__input-wrap
		padding-x 20px
		padding-y 15px
		display flex
		width 300px
		align-items center
		background-color #ffffff
		border-radius 10px
	&__input-img
		padding-right 21px
	&__input
		width 100%
		border transparent
		&_phone
			font-family 'Oswald'
			font-size 20px
			font-weight 400
			letter-spacing 4px
	&__btn-wrap
		position relative
		z-index 1
		top 0
		left 0
		padding 12px 20px 18px
		display flex
		justify-content center
		align-items center
		width 100%
		height 100%
		&::after
			position absolute
			z-index -1
			right 5px
			left 5px
			bottom -5px
			height 24px
			content ''
			background-color #272f31
			border-radius 8px
			opacity .5
	&__form-submit
		margin-bottom 25px
		width 100%
		font-family 'Oswald'
		font-size 20px
		font-weight 500
		line-height 30px
		color #ffffff
		background-color #272f31
		border none
		border-radius 10px
		
	&__conf
		margin 0 auto
		width 75%
		font-size 13px
		line-height 22px
		text-align center
		color #ffffff
	&__link
		text-decoration underline
		cursor pointer
		color #ffffff
	@media(max-width 1140px)
		padding 20px 0
		&__wrap
			flex-wrap wrap
			justify-content center
		&__text
			padding-bottom 20px
			width 100%
			text-align center
	@media(max-width 650px)
		&__title
			margin-bottom 10px
			font-size 35px
		&__instructions
			font-size 18px
		&__inputs
			margin-bottom 20px
			flex-wrap wrap
			justify-content center
		&__input-wrap
			margin-right 10px
			margin-bottom 20px
		@media(max-width 360px)
			&__title
				font-size 25px
				line-height 35px
			&__instructions
				font-size 14px
				line-height 25px