mixin form()
	+b.form&attributes(attributes)
		+e.wrap
			+e.text
				+e.title Хотите тоже улучшить свои результаты?
				+e.instructions Оставьте свои контактные данные, и я свяжусь с вами в течение 12 часов, чтобы предложить подходящее решение для вашей ситуации
			+e.fields
				+e.inputs
					+e.input-wrap
						+e('img').input-img(src="/assets/images/user-shape.png")
						+e('input').input(type="text" placeholder="Ваше имя" name="user-name")
					+e.input-wrap
						+e('img').input-img(src="/assets/images/phone-receiver.png")
						+e('input').input._phone(type="text" placeholder="+7 (___) ___-__-__" name="user-phone")
				+e('button').form-submit(type="submit") 
					+e('span').btn-wrap Хочу улучшить результаты
				+e('p').conf Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с 
						+e('a').link(href="#") Политикой конфиденциальности