import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'
@import '../../node_modules/swiper/dist/css/swiper.min.css'
@import '../../node_modules/jquery-scrollToTop/dist/css/scrollToTop.css'

import('../blocks/**/*')
