mixin popular-articles()
	+b.popular-articles&attributes(attributes)
		+e.title Популярные статьи
		+e.item
			+e('a').link Вся правда о второстепенных показателях в контекстной рекламе
		+e.item
			+e('a').link Вся правда о второстепенных показателях в контекстной рекламе
		+e.item
			+e('a').link Вся правда о второстепенных показателях в контекстной рекламе