.popular-articles
	&__title
		margin-top 42px
		padding-bottom 22px
		font-family 'Oswald'
		font-size 24px
		font-weight bold
		text-align center
		border-bottom 1px dashed #c5d7ec
	&__item
		padding-top 20px
		padding-left 30px
		padding-bottom 24px
		width 92%
		line-height 25px
		text-align justify
		cursor pointer
		border-bottom 1px dashed #c5d7ec
		transition color .3s ease-in
		&:hover
			color $blue
	&__link
		font-size 18px
		font-weight bold
		text-decoration none
