.table
	margin-top 44px
	overflow hidden
	width 100%
	font-size 18px
	letter-spacing .2px
	border-top-left-radius 10px
	border-top-right-radius 10px

	&__row:nth-child(odd)
		background-color #f7f9fd

	&__header
		padding-left 30px
		height 50px
		font-family 'Oswald'
		font-size 16px
		text-align left
		letter-spacing .1px
		color #ffffff
		background-color $blue
		border-right 1px solid #4584cd
		&_first-column
			width 297px
		&_second-column
			width 407px
	&__cell
		padding-left 30px
		height 50px
		line-height 30px
		&_second-column
			width 407px
		&_title
			width 297px
			font-size 18px
			font-weight 600
	@media(max-width 600px)
		margin-top 10px
		font-size 14px
		&__header,
		&__cell
			padding-left 10px
			height 35px
			font-size 14px
		&__header
			line-height 25px
			&_first-column
				width 200px
			&_second-column
				width 270px
		&__cell
			line-height 20px
			&_second-column
				width 270px
			&_title
				width 200px
	@media(max-width 360px)
		font-size 13px
		&__header,
		&__cell
			font-size 13px
		