mixin table()
	+b('table').table&attributes(attributes)
		+e('tr').row
			+e('th').header._first-column Поле
			+e('th').header._second-column Особенности заполнения и ограничения
			+e('th').header Статус
		+e('tr').row
			+e('td').cell._title Тип устройства
			+e('td').cell._second-column Не заполняется и не редактируется
			+e('td').cell Да
		+e('tr').row
			+e('td').cell_title Тип связи
			+e('td').cell._second-column Не заполняется и не редактируется
			+e('td').cell Нет
		+e('tr').row
			+e('td').cell_title Версия OS
			+e('td').cell._second-column Не заполняется и не редактируется
			+e('td').cell Да
		+e('tr').row
			+e('td').cell_title Трекинговая ссылка
			+e('td').cell._second-column Не заполняется и не редактируется
			+e('td').cell Нет
		+e('tr').row
			+e('td').cell_title Количество оценок
			+e('td').cell._second-column Не заполняется и не редактируется
			+e('td').cell Да
		+e('tr').row
			+e('td').cell_title Статус модерации
			+e('td').cell._second-column Не заполняется и не редактируется
			+e('td').cell Нет
		+e('tr').row
			+e('td').cell_title Заголовки быстрых ссылок
			+e('td').cell._second-column Не заполняется и не редактируется
			+e('td').cell Да
		+e('tr').row
			+e('td').cell_title Статус объявления
			+e('td').cell._second-column Не заполняется и не редактируется
			+e('td').cell Да