.nav
	&__list
		display flex
		width 100%
		justify-content space-between

	&__item
		padding-bottom 2px
		display block
		font-family 'Oswald'
		font-size 22px
		border-bottom 2px solid transparent
		transition border-bottom .3s ease-in
		&:hover
			border-bottom 2px solid $blue
	&__link
		text-decoration none
		color #272f31
		transition color .3s ease-in

	&__link
		&:hover
			color $blue
		
	
