.phone
	font-family 'Oswald'
	font-size 28px
	font-weight 300
	letter-spacing .2px
	color #90a4ae
	&__number
		&_colored
			color $blue
	@media(max-width 740px)
		&_header
			display none
	