.copyrights
	padding-y (15px)
	display flex
	justify-content space-between
	font-size 14px
	line-height 20px
	letter-spacing .1px
	color #89909b
	&__link
		text-decoration none
		color #89909b
		&:hover
			text-decoration underline
	&__link+.copyrights__link
		margin-left 25px