.copyrights
	padding-y (15px)
	display flex
	justify-content space-between
	font-size 14px
	line-height 20px
	letter-spacing .1px
	color #89909b
	&__link
		text-decoration none
		color #89909b
		&:hover
			text-decoration underline
	&__link+.copyrights__link
		margin-left 25px
	@media (max-width:750px)
		flex-direction column
		align-items center
		flex-wrap wrap
	@media (max-width:450px)
		&__links
			display flex
			justify-content center
			flex-wrap wrap
		&__link
			margin-right 20px
		&__link+.copyrights__link
			margin-left 0
		
