.header-main
	margin-top 40px
	width 70%

	&__path
		display flex
	&__item
		position relative
		margin-left 17px
		padding 2px 14px 4px
		height 30px
		font-family 'Oswald'
		font-size 15px
		line-height 20px
		letter-spacing -.2px
		color #89909b
		background #ffffff
		&:not(:first-child)
			margin-left 28px
			padding-left 18px
		&::before,
		&::after
			position absolute
			left -16px
			content ''
		&::before
			top 0
			border 9px solid #ffffff
			border-left 9px solid transparent
			border-bottom 9px solid transparent
		&::after
			bottom 0
			border 9px solid #ffffff
			border-top 9px solid transparent
			border-left 9px solid transparent
	&__item-arrow
		position absolute
		top 0
		right -23px
		border-top 15px solid transparent
		border-left 12px solid #ffffff
		border-right 12px solid transparent
		border-bottom 15px solid transparent

	&__title
		margin-top 45px
		font-family 'Oswald'
		font-size 55px
		font-weight 500
		line-height 60px
