mixin header-main()
	+b.header-main&attributes(attributes)
		+e.path
			+e('a').item(href='#') 
				| Главная
				+e.item-arrow
			+e.item(href='#') 
				| Авторский блог
				+e.item-arrow
			+e.item(href='#') 
				| Вся правда о второстепенных показателях в контекстной рекламе
				+e.item-arrow
		+e('h1').title Вся правда о второстепенных показателях в контекстной рекламе