mixin footer-logo()
	+b.footer-logo&attributes(attributes)
		+e('a').link(href='#')
			+e('img').image(src="./assets/images/footer-logo.png", alt="logo")
		+e.text
			+e('p').title Александр 
				+e('span').title_colored Танин
			+e('p').description Честная настройка и ведение рекламных кампаний в Яндекс.Директ и Google.Ads