.button
	margin-top -3px
	padding 0 20px
	height 50px
	font-family 'Oswald'
	font-size 16px
	font-weight 500
	cursor pointer
	color $blue
	background-color transparent
	border 1px solid $blue
	border-radius 8px
	transition background-color .3s ease-in
	&:hover
		background-color #f3f7fd
	@media(max-width 402px)
		order 1
	