.repost
	margin-top 44px
	&__descussion
		font-size 14px
		line-height 22px
		word-spacing 1px
		color #89909b
	&__descussion-link
		font-weight bold
		text-decoration none
		color $blue
		&:hover
			text-decoration underline
	&__title
		margin-top 39px
		margin-bottom 31px
		font-family 'Oswald'
		font-size 26px
		line-height 40px
	@media(max-width 600px)
		margin-top 20px
		&__descussion
			line-height 18px
			text-align justify