.footer-nav
	display flex
	width 29%
	flex-wrap wrap
	flex-direction column
	height 98px
	
	&__link
		margin-right 67px
		font-size 15px
		line-height 30px
		text-decoration none
		color #ffffff
		&:hover
			text-decoration underline
	@media (max-width 1000px)
		flex-direction row
		width 100%
		height auto
		justify-content space-between
		flex-wrap nowrap
		order 3
		&__link
			margin-right 8px
	@media (max-width 520px)
		flex-wrap wrap
		justify-content center