include /blocks/container/container
include /blocks/content/content
include /blocks/right-bar/right-bar

mixin main()
	+b.main&attributes(attributes)
		+container()
			+content()
			+right-bar()