.header-logo
	display flex
	align-items center
	
	&__logo
		margin-right 37px

	&__text
		padding-top 8px
		width 258px
		height 87px
		letter-spacing .1px

	&__title
		padding-bottom 12px
		font-family 'Oswald', serif
		font-size 30px
		font-weight 400
		line-height 30px
		letter-spacing .1px
		&_colored
			color $blue

	&__description
		font-size 14px
		line-height 20px
		text-align justify
		color #89909b


