mixin header-logo()
	+b.header-logo&attributes(attributes)
		+e('img').logo(src="./assets/images/logo.png", alt="logo")
		+e.text
			+e('p').title Александр 
				+e('span').title_colored Танин
			+e('p').description Честная настройка и ведение рекламных кампаний в Яндекс.Директ и Google.Ads