.call		
	&__img
		margin-right 15px
		width 40px
		height 40px
		cursor pointer
		background-color #ffffff
		background-repeat no-repeat
		background-position center
		border none
		border-radius 50%
		transition background-color .3s ease-in
		&:hover
			background-color #c6cbd2
		&_viber
			background-image url('/assets/images/viber.png')
		&_telegram
			background-image url('/assets/images/telegram1.png')
		&_whatsapp
			background-image url('/assets/images/whatsapp.png')