.messengers
	display flex
	&__img
		margin-right 15px
		width 40px
		height 40px
		background-color $blue
		background-repeat no-repeat
		background-position center
		border-radius 50%
		&:nth-child(even)
			background-color #49ace6
		&_vk
			background-image url('/assets/images/vk.png')
		&_telegram
			background-image url('/assets/images/telegram.png')
		&_fb
			background-image url('/assets/images/facebook.png')
		&_twitter
			background-image url('/assets/images/twitter.png')
		&_link
			background-image url('/assets/images/link.png')


