mixin numered-list()
	+b.numered-list&attributes(attributes)
		+e('p').title Нумерованный список
			+e('ol').list
				+e('li').item У некоторых рекламодателей нет интереса к оценке работы рекламных кампаний. Главное, чтобы реклама вообще была и на сайт приходили люди, которые заинтересованы в покупке товара или услуги. Отсутствие интереса и&nbsp;контроля&nbsp;дает&nbsp;исполнителям возможность для манипуляции показателями
				+e('li').item Концентрация на второстепенных показателях. Когда на каком-то бизнес-тренинге говорят, что эффективность работы подрядчика надо оценивать по CTR. Когда рекламодатель читает форумы, общается с другими предпринимателями, смотрит отзывы о специалистах и агентствах по контекстной рекламе