.header-action
	margin-left 107px
	width 100%
	height 46px
	&__contacts
		margin-top -2px
		display flex
		width 100%
		justify-content space-between
	&__mail
		display flex
		align-items center
	&__img
		margin-top -7px
		margin-right 15px
		width 21px
		height 17px
	&__e-mail
		margin-top -7px
		font-size 15px
		line-height 18px
		text-decoration none
		color $blue
		border-bottom 1px dashed #cfd8dc

	&__icon
		margin-right 15px
		padding 20px
		width 18px
		height 18px
		background-color #ffffff
		border-radius 50%
	&__call
		margin-top 4px
		display flex
		width 45%
		justify-content space-between

	&__phone
		font-family 'Oswald'
		font-size 28px
		font-weight 300
		color #90a4ae
		&_colored
			color $blue
