include /blocks/icon/icon
include /blocks/nav/nav
include /blocks/call/call
include /blocks/phone/phone

mixin header-action()
	+b.header-action&attributes(attributes)
		+e.contacts
			+e('p').mail
				+e('img').img(src='/assets/images/letter.png')
				+e('a').e-mail(href='#') info@честный-контекст.рф
			+e.call
				+call()
				+phone()._header
		+nav([
			{name:'Главная', href:'#'},
			{name:'Бесплатный аудит честности', href:'#'},
			{name:'Арбитраж', href:'#'},
			{name:'Авторский блог', href:'#'},
			{name:'Контакты', href:'#'}])
			