include /blocks/icon/icon

mixin header-action()
	+b.header-action&attributes(attributes)
		+e.contacts
			+e('p').mail
				+icon('telegram').img
				+e('span').e-mail info@честный-контекст.рф
			+e.call
				+e.messengers
					+icon('viber').icon
					+icon('watsup').icon
					+icon('telegram').icon
				+e('p').phone 8 (800) 
					+e('span').phone_colored 551 37 01
 
			