.burger-menu
	position fixed
	z-index 10
	right 10px
	padding 15px 10px
	cursor pointer
	background-color transparent
	border 1px solid $blue
	border-radius 50%
	&_scrolled
		background-color #f5f8ff
	&__wrap
		position relative
		width 45px
		height 35px
	&__line
		position absolute
		left 0
		display block
		width 45px
		height 9px
		background $blue
		border-radius 9px
		transform rotate(0deg)
		transition .25s ease-in-out
		&:nth-child(1)
			top 0
		&:nth-child(2), 
		&:nth-child(3)
			top 13px
		&:nth-child(4)
			top 26px
		&_active
			&:nth-child(1),
			&:nth-child(4)
				top 18px
				left 50%
				width 0
			&:nth-child(2)
				transform rotate(45deg)
			&:nth-child(3)
				transform rotate(-45deg)

	&__links
		position absolute
		top 70px
		right -450%
		padding 10px
		display flex
		flex-direction column
		flex-wrap nowrap
		width max-content
		background-color #f5f8ff
		border 1px solid $blue
		transition .3s ease-in-out
		&_active
			right 0
	&__link
		height 45px
		text-decoration none
		color #272f31
		background-color transparent
		transition color .3s ease-in
		&:hover
			text-decoration underline
			color $blue
			background-color #ffffff

	