.burger-menu
	position fixed
	z-index 10
	right 10px
	width 45px
	height 35px
	cursor pointer
	&__line
		position absolute
		left 0
		display block
		width 45px
		height 9px
		background $blue
		border-radius 9px
		transform rotate(0deg)
		transition .25s ease-in-out
		&:nth-child(1)
			top 0
		&:nth-child(2), 
		&:nth-child(3)
			top 13px
		&:nth-child(4)
			top 26px
		&_active
			&:nth-child(1),
			&:nth-child(4)
				top 18px
				left 50%
				width 0
			&:nth-child(2)
				transform rotate(45deg)
			&:nth-child(3)
				transform rotate(-45deg)
