mixin burger-menu()
	+b.burger-menu&attributes(attributes)
		+e.wrap
			+e('span').line
			+e('span').line
			+e('span').line
			+e('span').line
		+e.links
			+e('a').link(href='#') Главная
			+e('a').link(href='#') Бесплатный аудит честности
			+e('a').link(href='#') Арбитраж
			+e('a').link(href='#') Авторский блок
			+e('a').link(href='#') Контакты