.footer
	padding-top 52px
	padding-bottom 50px
	display flex
	justify-content space-between
	align-items center

	&__contacts
		display flex
		flex-direction column
		justify-content space-around
		height 98px

	&__e-mail
		font-size 15px
		line-height 20px
		text-align right 
		text-decoration none
		color #ffffff
		border-bottom 1px dashed #cfd8dc
		transition color .3s ease-in
		&:hover
			color #cfd8dc
	@media (max-width 1000px)
		padding 20px 0
		flex-wrap wrap
		&__contacts
			order 2
	@media (max-width 480px)
		&__contacts
			width 100%
			align-items center