.slider
	margin-top 111px // поменять когда поправится виджет ВК
	margin-bottom 70px
	&__title
		margin-bottom 55px
		font-family 'Oswald'
		font-size 55px
		font-weight 500
		line-height 60px
	&__slide-mobile
		display none
	&__slider-container
		width 100%
	&__slide
		width 100%
	&__slide-title
		padding-top 17px
		font-weight bold
		line-height 31px
		letter-spacing .1px
	&__slide-link
		text-decoration none
		color #272f31
		&:hover
			text-decoration underline
	&__img
		position relative
		width 100%
	&__wrapper
		position relative
	&__btn-img
		padding 16px 18px
		background #edf1f7
		border-radius 50%
		&:hover
			background linear-gradient(#3c90f1, #2665ae)
	&__btn-prev,
	&__btn-next
		position absolute
		z-index 5
		top 35%
		padding 8px
		width 60px
		height 60px
		cursor pointer
		background-color #ffffff
		border none
		border-radius 50%
	&__btn-prev
		transform translate(-30px, -50%)
	&__btn-next
		right 0
		transform translate(30px, -50%)
	@media(max-width 1080px)
		margin-top 60px // поменять когда поправится виджет ВК
		margin-bottom 40px
	@media(max-width 800px)
		margin-top 20px
		&__slide-mobile
			margin-bottom 20px
			display block
		&__img
			width 100%
		&__wrapper
			display none

	@media(max-width 600px)
		&__title
			margin-bottom 30px
			font-size 35px
			line-height 40px
	@media(max-width 360px)
		&__slide-title
			padding-top 0
			font-size 16px
			line-height 20px
	

