include /blocks/slides/slides
include /blocks/icon/icon


mixin slider()
	+b.slider&attributes(attributes)
		+e('h2').title Другие статьи
		+e.slider-container.swiper-container
			+e.slides.swiper-wrapper
				+e.slide.swiper-slide
					+e('img').img(src='/assets/images/slide1.png')
					+e('p').slide-title Как проверить уровень настройки рекламной компании конкурента
				+e.slide.swiper-slide
					+e('img').img(src='/assets/images/slide2.png')
					+e('p').slide-title Вся правда о второстепенных показателях в контекстной рекламе
				+e.slide.swiper-slide
					+e('img').img(src='/assets/images/slide1.png')
					+e('p').slide-title Как проверить уровень настройки рекламной компании конкурента
				+e.slide.swiper-slide
					+e('img').img(src='/assets/images/slide2.png')
					+e('p').slide-title Вся правда о второстепенных показателях в контекстной рекламе
			+e('button').btn-prev
				+e('img').btn-img(src='/assets/images/left.png')
			+e('button').btn-next
				+e('img').btn-img(src='/assets/images/right.png')


		
		//- ([
		//- 	{src: '/assets/images/slide1.png', title: 'Как проверить уровень настройки рекламной компании конкурента'},
		//- 	{src: '/assets/images/slide2.png', title: 'Вся правда о второстепенных показателях в контекстной рекламе'},
		//- 	{src: '/assets/images/slide1.png', title: 'Как проверить уровень настройки рекламной компании конкурента'},
		//- 	{src: '/assets/images/slide2.png', title: 'Вся правда о второстепенных показателях в контекстной рекламе'}
		//- 	])